body{
    background-color:#f5f5f5 ;
    color: #4e4e4e;
    overflow-x: hidden;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Home Section */
.navbar-dark .navbar-nav .nav-link{
    color: #ffffff;
}
#home{
     background-image: url('../img/intro-bg.jpg');
     background-position: 50% 50%;
   
}
.layer{
    background-color: rgba(0, 0, 0, 0.3);
    height: 100vh;
}
.head-caption{
    font-size: 4.5rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero-subtitle{
    font-size: 2.5rem;
}
.head-caption h1{
    font-size: 4.5rem;
}



/* Portofolio Section */
span{
    color: #4e4e4e;
}
.img-container{
    overflow: hidden;
}
.img-hover:hover img{
    transform: scale(1.2);
    transition: 1s;
}
.over{
    overflow: hidden;
}
.img-hover{
    overflow: hidden;
}


.parent6
{
    background-color: #1d1d1d;
    overflow:auto;
}
.parent6 .parent6-item
{
    padding: 40px;
    text-align: center;
    
}
.parent6 .parent6-item h2
{
    color: white;
    font-size: 30px;
    text-transform: capitalize;
}
.parent6 .parent6-item p
{
    font-size: 16px;
    line-height: 2;
    color: #999;
}
.parent6 .row .card
{
    background-color:  #1a1a1a;
}
.parent6 .row .card h5 
{
    color: white;
    font-size: 30px;
    text-transform: capitalize;
}
.parent6 .row .card p 
{
    font-size: 16px;
    line-height: 2;
    color: #999;
}
.parent6 .row .card a
{
    color: white;
    font-size: 18px;
    text-transform: capitalize;

}
.parent6 .icon{
    margin-top: 50px;
    margin-bottom: 50px;
 
    
}
.parent6 .icon .btn
{
    background-color: #292929;
    text-transform: capitalize;
    color: white;
    font-size: 20px;
    
    padding: 10px 30px;
}

/* Services Style */

.service-card {
    background-color: #fff;
    padding: 2.5rem 1.3rem;
    border-radius: 1rem;
    margin-bottom: 3rem;
    text-align: center;
    /* box-shadow: 0 13px 8px -10px rgb(0 0 0 / 10%); */
    z-index: 2;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 6%), 0 2px 5px 0 rgb(0 0 0 / 10%);
}

.service-icon {
    margin-bottom: 1rem;
    /* color: tomato; */
}

.service-card .icon-circle {
    transition: all 500ms ease;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.icon-circle {

    height: 100px;
    width: 100px;
    font-size: 2rem;
    border-radius: 50%;
    line-height: 1.55;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0 0 0 10px #0078ff;

}
.icon-circle:hover{
    background-color: #0078ff;
    box-shadow:0 0 0 10px #f5f5f5;
}

i.fas .fa-briefcase {
    display: inline-block;
    /* font-family: bootstrap-icons !important; */
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: -0.125em;
}

.service-card .title-b {
    font-size: 1.4rem;
    text-transform: uppercase;
    text-align: center;
    padding: 0.4rem 0;
}

/*  Counter section Style */
.section-counter {
    background-image: url(../img/counters-bg.jpg);
    /* position: relative;
    color: white; */

}

.count {
    position: relative;
    padding: 8rem 0;
}

.layer-count {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    opacity: 0.7;
    background-color: #0078ff;
}

.counter-box {
    color: #fff;
    text-align: center;
}

@media (min-width: 577px) {
    .counter-box {
        margin-bottom: 1.8rem;
    }
}

.counter-icon {
    margin-bottom: 1rem;
}


.counter-icon .icon-circle {

        transition: all 500ms ease;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 0 0 10px #f5f5f5;
}

i.fas .fa-check::before {
    display: inline-block;
    font-style: normal;
    font-size: 0.4rem;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: -0.125em;
}

  .clr {
    clear: both;
}
/* Footer style */
footer {
    text-align: center;
    color: #fff;
    padding: 25px 0;
    background: #0062d3;
}
  
.parent
{
    
    background-color:rgb(240, 240, 240);
    overflow:auto;
}
.parent  .parent-content
{
  
    text-align: center;
    padding:50px ;
}
.parent  .parent-content h2
{
   color: rgb(48, 47, 47);
   font-size: 30px;
   padding: 30px;
}
.parent  .parent-content p 
{
    padding-bottom: 30px ;
    text-transform: capitalize;
    font-size: 16px;
    color: gray;
    line-height: 2;
}
.parent  .row
{
    padding: 20px 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.parent .row  img
{
    
      width: 100%;  
    
      
}
.parent .row  h2 
{
    margin-left: 30px;
    color:  rgb(48, 47, 47) ;
    font-size: 30px;
    padding-top: 20%;
    padding-bottom : 30px ;
    text-transform: capitalize;
}
.parent .row  p
{
    padding-bottom: 10px ;
    text-transform: capitalize;
    font-size: 16px;
    color: rgb(104, 104, 104);
    
}
.parent .row  .child-item   p 
{
    display: inline-block;
    color: gray;
    font-size: 18px;

    

}
.parent .row .child-item  .fa 
{
    padding: 10px;
    border-radius: 60px;
    border: 2px solid ;
    background-color: #E5C36F;
    color: white;
     font-size: 16px; 
    text-align: center;
}
