body{
    background-color:#f5f5f5 ;
    color: #4e4e4e;
    overflow-x: hidden;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Home Section */
.navbar-dark .navbar-nav .nav-link{
    color: #ffffff;
}
#home{
     background-image: url('../img/intro-bg.jpg');
     background-position: 50% 50%;
   
}
.layer{
    background-color: rgba(0, 0, 0, 0.3);
    height: 100vh;
}
.head-caption{
    font-size: 4.5rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero-subtitle{
    font-size: 2.5rem;
}
.head-caption h1{
    font-size: 4.5rem;
}



/* Portofolio Section */
span{
    color: #4e4e4e;
}
.img-container{
    overflow: hidden;
}
.img-hover:hover img{
    transform: scale(1.2);
    transition: 1s;
}
.over{
    overflow: hidden;
}
.img-hover{
    overflow: hidden;
}


.parent6
{
    background-color: #1d1d1d;
    overflow:auto;
}
.parent6 .parent6-item
{
    padding: 40px;
    text-align: center;
    
}
.parent6 .parent6-item h2
{
    color: white;
    font-size: 30px;
    text-transform: capitalize;
}
.parent6 .parent6-item p
{
    font-size: 16px;
    line-height: 2;
    color: #999;
}
.parent6 .row .card
{
    background-color:  #1a1a1a;
}
.parent6 .row .card h5 
{
    color: white;
    font-size: 30px;
    text-transform: capitalize;
}
.parent6 .row .card p 
{
    font-size: 16px;
    line-height: 2;
    color: #999;
}
.parent6 .row .card a
{
    color: white;
    font-size: 18px;
    text-transform: capitalize;

}
.parent6 .icon{
    margin-top: 50px;
    margin-bottom: 50px;
 
    
}
.parent6 .icon .btn
{
    background-color: #292929;
    text-transform: capitalize;
    color: white;
    font-size: 20px;
    
    padding: 10px 30px;
}


  
